<div class='footer-address-container pr-10'>
  <h2 class='footer-block__heading inline-richtext'>Another test</h2>
  <p class='bg-green-300 p-3 rounded-md text-center text-xl text-gray-700'>
    <a href=''>CALL US TODAY +1 888-536-0087 </a>
  </p>
  <ul>
    <li class='border-b-2 pb-2 border-gray-300'>Buy-Rite Showrooms</li>
    <li>
      Atlanta, GA Showroom <br>
      3070 Business Park Drive<br>
      Suite H-I<br>
      Norcross, GA 30071
    </li>
  </ul>
</div>
