<div class="footer-address-container tw-pr-10">
    <h2 class="footer-block__heading inline-richtext">Another test </h2>
    <p class="tw-bg-green-300  tw-p-3 tw-rounded-md tw-text-center tw-text-lg"><a href="">CALL US TODAY +1 888-536-0087 </a></p>
</div>
