
  
  {% schema %}
    {
      "name": "Expresso Tab",
      "settings": [],
      "blocks": [],
      "presets": [
        {
          "name": "Expresso Tab"
        }
      ]
    }
    {% endschema %}
    
    <div class="col-xs-12">
      <div class="featured-products">
        <h2>Featured Equipment</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <ul class="featured-products__menu clearfix" role="tablist">
              <li role="presentation" class="active">
                <a href="#hot-products" aria-controls="hot-products" role="tab" data-toggle="tab" onclick="buyrite_hotmerch();">Hot Products</a>
              </li>
              <li role="presentation">
                <a href="#new-merch" aria-controls="new-merch" role="tab" data-toggle="tab" onclick="buyrite_newmerch();">New Merchandise</a>
              </li>
              <li role="presentation">
                <a href="#bestsellers" aria-controls="bestsellers" role="tab" data-toggle="tab" onclick="buyrite_bestmerch();">Best Sellers</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane featured-products__category active" id="hot-products">
                <script type="text/javascript">
                  var gaEnhancedEcomHotProductImpressions = new Array();
                </script>
                <script type="text/javascript">
                  gaEnhancedEcomHotProductImpressions.push({
                    'name': 'Allegro Styling Station w/ Shelf',
                    'id': 'OD-1903B-BLK',
                    'price': '849.0000',
                    'brand': 'Buy-Rite Salon & Spa',
                    'category': 'Stations',
                    'list': 'Hot Products',
                    'position': 0
                  });
                </script>
                <div class="col-xs-12 col-sm-4">
                  <div class="featured-products__item">
                    <a href="https://www.buyritebeauty.com/allegro-styling-station/">
                      <div class="featured-products--header">
                        <div class="featured-products--header__content">
                          <p class="featured-products__item-model">Allegro Styling Station w/ Shelf</p>
                        </div>
                      </div>
                      <img class="featured-products__item-img" height="371" width="371" loading="lazy" src="https://www.buyritebeauty.com/media/catalog/product/cache/1/small_image/x396/9df78eab33525d08d6e5fb8d27136e95/1/9/1903_allegro_updated_02.02.21_2_.jpg" alt="">
                      <span class="featured-products__item-favorite " data-add-url="https://www.buyritebeauty.com/wishlist/index/add/product/289/form_key/EYQtzuTaQSwO0bkM/"></span>
                      <p class="featured-products__item-msrp">
                        List Price:
                        <span class="msrp">$1,695.00</span>
                      </p>
                      <p class="featured-products__item-price with-sale">
                        <span class="old-price-sale">
                          Our Price:
                          <span class="regular-price">
                            <span class="price">
                            $849.00</span></span></span>
                        <br>
                        <span class="sale">
                          Sale Price: $799.00
                        </span>
                      </p>
                    </a>
                  </div>
    
  